/.vscode
/archive_3
/Latihan1.ipynb
/Latihan2.ipynb
/Latihan3.ipynb
/Latihan4.ipynb
/Latihan5
/Latihan6
/Latihan6.ipynb
/Latihan7
/numpy1.ipynb
/numpy1.json
/numpy1.py
/obes.xls
/Pertemuan1.ipynb
/Pertemuan10.ipynb
/Pertemuan2.ipynb
/Pertemuan3.ipynb
/Pertemuan5.ipynb
/pertemuan6.ipynb
/Pertemuan7.ipynb
/Pertemuan8.ipynb
/PYTN_Assgn_1_5_Heidy Nurafiyah Itsnaini.rar
/raw.githubusercontent.com_ardhiraka_PFDS_sources_master_nbaallelo.csv
/TotalBill_Histogram.png